<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title><%= @post[:title] %></title>
  </head>
  <body>
    <%= erb(:'partials/navigation', :layout => false) %>
    <form>
      <label for=""><%= @post[:title] %></label>
      <input type="text" name="" value="<%= @post[:post_body] %>">
    </form>
    <a href="/<%= @post[:id] %>/edit">edit</a>
  </body>
</html>
